name: MicroPython Firmware

on:
  push:
  pull_request:
  release:
    types: [created]

env:
  MICROPYTHON_VERSION: f80d040c038c343b0709eba537014fb52bc8115e

jobs:
  deps:
    runs-on: ubuntu-20.04
    name: Dependencies
    steps:
    - name: Workspace Cache
      id: cache
      uses: actions/cache@v3
      with:
        path: ${{runner.workspace}}
        key: workspace-micropython-${{env.MICROPYTHON_VERSION}}
        restore-keys: |
          workspace-micropython-${{env.MICROPYTHON_VERSION}}

    # Check out MicroPython
    - name: Checkout MicroPython
      if: steps.cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v3
      with:
        repository: micropython/micropython
        ref: ${{env.MICROPYTHON_VERSION}}
        submodules: false  # MicroPython submodules are hideously broken
        path: micropython

    - name: Fetch base MicroPython submodules
      if: steps.cache.outputs.cache-hit != 'true'
      shell: bash
      working-directory: micropython
      run: git submodule update --init

    - name: Fetch Pico SDK submodules
      if: steps.cache.outputs.cache-hit != 'true'
      shell: bash
      working-directory: micropython/lib/pico-sdk
      run: git submodule update --init

    - name: Build mpy-cross
      if: steps.cache.outputs.cache-hit != 'true'
      shell: bash
      working-directory: micropython/mpy-cross
      run: make

  build:
    needs: deps
    name: Build ${{matrix.name}}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - name: Badger 2040
            shortname: badger2040
            board: PIMORONI_BADGER2040
            # 0x10000000 + (2*1024*1024) - (1408*1024)
            dir2uf2_fs_start: 269090816
            dir2uf2_fs_size: 1441792
          - name: Badger 2040 W
            shortname: badger2040w
            board: PIMORONI_BADGER2040W
            # 0x10000000 + (2*1024*1024) - (848*1024)
            dir2uf2_fs_start: 269664256
            dir2uf2_fs_size: 868352

    env:
      RELEASE_FILE: pimoroni-${{matrix.shortname}}-${{github.event.release.tag_name || github.sha}}-micropython.uf2
      RELEASE_FILE_WITH_OS: pimoroni-${{matrix.shortname}}-${{github.event.release.tag_name || github.sha}}-micropython-with-badger-os.uf2
      BOARD_DIR: "$GITHUB_WORKSPACE/badger2040/firmware/${{matrix.board}}"
      BADGER_OS_DIR: "$GITHUB_WORKSPACE/badger2040/badger_os"

    steps:
    - name: Compiler Cache
      uses: actions/cache@v3
      with:
        path: /home/runner/.ccache
        key: ccache-micropython-${{matrix.shortname}}-${{github.ref}}-${{github.sha}}
        restore-keys: |
          ccache-micropython-${{matrix.shortname}}-${{github.ref}}
          ccache-micropython-${{matrix.shortname}}-

    - name: Workspace Cache
      uses: actions/cache@v3
      with:
        path: ${{runner.workspace}}
        key: workspace-micropython-${{env.MICROPYTHON_VERSION}}
        restore-keys: |
          workspace-micropython-${{env.MICROPYTHON_VERSION}}

    - uses: actions/checkout@v3
      with:
        submodules: true
        path: badger2040

    # Check out Pimoroni Pico
    - uses: actions/checkout@v3
      with:
        repository: pimoroni/pimoroni-pico
        submodules: true
        path: pimoroni-pico

    # Check out dir2u2f
    - uses: actions/checkout@v3
      with:
        repository: gadgetoid/dir2uf2
        ref: v0.0.1
        path: dir2uf2

    # HACK: Patch Wakeup GPIO features into Pico SDK
    - name: "HACK: Wakeup GPIO Patch"
      shell: bash
      working-directory: micropython/lib/pico-sdk
      run: |
        git apply "${{env.BOARD_DIR}}/wakeup_gpio.patch"

    # Install apt packages via cache
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: ccache gcc-arm-none-eabi binutils-arm-none-eabi libnewlib-arm-none-eabi libnewlib-dev libstdc++-arm-none-eabi-newlib

    # Build firmware
    - name: Configure MicroPython
      shell: bash
      working-directory: micropython/ports/rp2
      run: |
        cmake -S . -B build -DPICO_BUILD_DOCS=0 -DUSER_C_MODULES=${{env.BOARD_DIR}}/micropython.cmake -DMICROPY_BOARD_DIR=${{env.BOARD_DIR}} -DMICROPY_BOARD=${{env.BOARD}} -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache

    - name: Build MicroPython
      shell: bash
      working-directory: micropython/ports/rp2
      run: |
        ccache --zero-stats || true
        cmake --build build -j 2
        ccache --show-stats || true

    - name: Rename .uf2 for artifact
      shell: bash
      working-directory: micropython/ports/rp2/build
      run: |
        cp firmware.uf2 ${{env.RELEASE_FILE}}

    - name: Append Filesystem
      shell: bash
      run: |
        python3 -m pip install littlefs-python
        ./dir2uf2/dir2uf2 --fs-start ${{matrix.dir2uf2_fs_start}} --fs-size ${{matrix.dir2uf2_fs_size}} --append-to micropython/ports/rp2/build/${{env.RELEASE_FILE}} --manifest ${{env.BADGER_OS_DIR}}/uf2-manifest.txt --filename with-badger-os.uf2 ${{env.BADGER_OS_DIR}}/

    - name: Store .uf2 as artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{env.RELEASE_FILE}}
        path: micropython/ports/rp2/build/${{env.RELEASE_FILE}}

    - name: Store .uf2 + Badger OS as artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{env.RELEASE_FILE_WITH_OS}}
        path: ${{env.RELEASE_FILE_WITH_OS}}

    - name: Upload .uf2
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        asset_path: micropython/ports/rp2/build/${{env.RELEASE_FILE}}
        upload_url: ${{github.event.release.upload_url}}
        asset_name: ${{env.RELEASE_FILE}}
        asset_content_type: application/octet-stream

    - name: Upload .uf2 + Badger OS
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        asset_path: ${{env.RELEASE_FILE_WITH_OS}}
        upload_url: ${{github.event.release.upload_url}}
        asset_name: ${{env.RELEASE_FILE_WITH_OS}}
        asset_content_type: application/octet-stream
